<a href="https://colab.research.google.com/github/Lina-hernandez22/Intro_phyton_202320/blob/main/Introducction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRODUCCION A PHYTON
#Curso de programacion de algoritmia UPB 202320

- Nombre: Lina Hernández
- ID: 000486894
- Email: lina.hernandezu@upb.edu.co

Esta es la expresion de la linea recta:
$$y = mx + b$$

donde $x$ es la posicion

In [ ]:
# comentarios
# Mis primeras lineas de codigo en phyton
name = 'Lina'
print ("Hello,", name)

Hello, Lina

In [ ]:
#comentarios
firstname = 'Lina'
lastname = 'Hernandez'
age = '18'
city = 'monteria'
food = 'pizza hawaiana'
print ("Mi nombre es", firstname,lastname, "y tengo" , age, ",Vivo en", city, "y me gusta la" , food)

Mi nombre es Lina Hernandez y tengo 18 ,Vivo en monteria y me gusta la pizza hawaiana

In [7]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c += 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
5.3

In [14]:
m = 5
b = 2
x = -3
y = m * x + b
print(y)
x = -2
y = m * x + b
print(y)
x = -1
y = m * x + b
print(y)
x = 0
y = m * x + b
print(y)
x = 1
y = m * x + b
print(y)
x = 2
y = m * x + b
print(y)
x = 3
y = m * x + b
print(y)

-13
-8
-3
2
7
12
17

In [23]:
a = 1
b = 2
c = -8
disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:' , x_p)
print('x_p:', x_n)
print('-'*10)
a = -3
b = -1
c = 10
disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:' , x_p)
print('x_p:', x_n)
print('-'*10)
a = 0.1
b = -2
c = 0.5
disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print('x_p:' , x_p)
print('x_p:', x_n)
print('-'*10)

x_p: 2.0
x_p: -4.0
----------
x_p: -2.0
x_p: 1.6666666666666667
----------
x_p: 19.74679434480896
x_p: 0.25320565519103666
----------

In [24]:
firtname = 'Lina'
lastname = 'Hernandez'
fullname = firtname + ' ' + lastname
print(fullname)

Lina Hernandez

In [25]:
song = """Un elefante se balanceaba
sobre la tela de una araña
como veía que resistía
se fue a buscar otra...no se."""
print(song)

Un elefante se balanceaba
sobre la tela de una araña
como veía que resistía
se fue a buscar otra...no se.

In [27]:
a = 3
b = 5
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print((a == b) and (b + 3 > 5))
print((a == b) or (b + 3 > 5))
print(not (a == b))

False
True
False
True
False
True
True